@font-face {
	font-family: 'iconfont';
	src: url('iconfont.eot');
	src: url('iconfont.eot?#iefix') format('embedded-opentype'),
	url('iconfont.woff') format('woff'),
	url('iconfont.ttf') format('truetype'),
	url('iconfont.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 28px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.music-container {
	position: relative;
	top: 30px;
	width: 809px;
	height: 556.2px;
	margin: 0 auto;
	border-radius: 20px;
	border-right-color: rgb(92, 182, 122);
	border-right-style: solid;
	border-right-width: 1px;
}

.player-heard {
	position: relative;;
	top: 0%;
	width: 809px;
	height: 60px;
	background-image: url('../img/background.jpg');
	background-size: cover;
	-webkit-filter: blur(0.1px);
	filter: blur(0.1px);
	opacity: 0.9;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.list-search {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 20px;
	border-radius: 15px;
	text-align: center;
	margin-top: -10px;
	margin-left: -150px;
}

tbody {
	position: absolute;
	top: 29px;
}

thead {
	position: relative;
}

.play-list-head {
	display: flex;
	justify-content: space-around;
	text-align: left;
}

.list-title {
	width: 210px;
}

.list-artist {
	width: 195px;
}

.music-plate {
	position: absolute;
	top: 11%;
	right: 0%;
	width: 200px;
	height: 396px;
}

.plate-past {
	position: absolute;
	top: 0%;
	right: 0%;
	width: 160px;
	height: 160px;
}

.plate-now {
	position: absolute;
	top: 30%;
	right: 0%;
	width: 160px;
	height: 160px;
	/*border:2px solid red;*/
}

.plate-next {
	position: absolute;
	bottom: 0%;
	right: 0%;
	width: 160px;
	height: 160px;
	/*border:2px solid red;*/
}

.play-list {
	position: absolute;
	top: 60px;
	left: 0%;
	width: 650px;
	height: 395px;
	margin: 0 auto;
	/*border:1px solid #9e9e9e;*/
	border-left: 2px solid rgb(92, 182, 122);
	/*background-color: white;*/
	overflow-x: hidden;
	overflow-y: auto;
}

.music-manipulate {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 809px;
	height: 100px;
	margin: 0 auto;
	background-image: url('../img/background.jpg');
	background-size: cover;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	/*border:1px solid green;*/
}

.music-cover {
	position: absolute;
	bottom: 10px;
	left: 20px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.information-name, .information-author {
	display: block;
	width: 150px;
	left: 120px;
	position: absolute;
	text-align: center;
}

.information-name {
	bottom: 20px;
	height: 65px;
}

.information-author {
	bottom: -10px;
	height: 60px;
}

.play-timeBar {
	position: absolute;
	bottom: 5px;
	left: 280px;
	height: 80px;
	width: 450px;
}

.music-information {
	left: -6px;
	bottom: 0px;
	position: absolute;
}

#id-played-bar, #id-time-bar {
	left: 85px;
	position: absolute;
}

#id-played-bar {
	background: -webkit-linear-gradient(right, #fec514, #EE4000);
	z-index: 2;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#id-current-time, #id-total-time {
	display: inline-block;
	bottom: 52px;
	position: absolute;
}

#id-current-time {
	left: 25px;
}

#id-total-time {
	left: 400px;
}

#id-icon-play, #id-icon-pause, #id-icon-play-pre, #id-icon-singlecircle, #id-icon-play-next, #id-icon-volume, #id-icon-listcircle, #id-icon-volume-mute {
	position: absolute;
	display: inline-block;
	width: 30px;
	margin: 0 auto;
}

#id-icon-volume {
	bottom: 9px;
	right: 100px;
}

#id-icon-volume-mute {
	bottom: 9px;
	right: 100px;
}

#id-icon-listcircle {
	bottom: 10px;
	right: 303px;
}

#id-icon-singlecircle {
	bottom: 10px;
	right: 303px;
}

#id-icon-play {
	bottom: 9px;
	right: 200px;
}

#id-icon-pause {
	bottom: 9px;
	right: 200px;
}

#id-icon-play-pre {
	bottom: 9px;
	right: 250px;
}

#id-icon-play-next {
	bottom: 9px;
	right: 150px;
}

#id-total-volume, #id-current-volume {
	display: inline-block;
	height: 3px;
	left: 352px;
	bottom: 22px;
	border-radius: 1px;
	position: absolute;
	cursor: pointer;
}

#id-total-volume {
	opacity: 0.5;
	background-color: black;
}

#id-current-volume {
	background: -webkit-linear-gradient(right, #fec514, #EE4000);
	border-color: red;
	z-index: 2;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#id-icon-pause, #id-icon-play, #id-icon-play-pre, #id-icon-play-next {
	cursor: pointer;
}

#id-played-bar, #id-time-bar, .song-name, .icon-unlike, .icon-like {
	cursor: pointer;
}

.hidden {
	visibility: hidden !important;
}

.none {
	display: none !important;
}

.trans {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.hover {
	visibility: visible;
}

.rotated {
	-webkit-animation: rotated 6s linear infinite;
	animation: rotated 6s linear infinite;
}

@-webkit-keyframes rotated {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotated {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 6px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background: #bbb;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: white;
}

/*歌曲列表的CSS*/
.play-list-song {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.play-list-song:hover {
	background-color: rgba(133, 143, 144, 0.4);
}

.icon-like, .icon-unlike {
	font-size: 16px;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 2%;
}

.likes {
	position: relative;
	top: -8px;
	left: 8px;
}

.icon-like-red {
	color: red;
}
.song-name {
	overflow: hidden;
	left: 6%;
	position: relative;;
	width: 240px
}

.song-artist {
	overflow: hidden;
	left: 3%;
	position: relative;;
	width: 195px;
}

.song-album {
	overflow: hidden;
	left: 3%;
	position: relative;
	width: 220px;
}

.blank-th {
	width: 50px;
}

#id-time-bar {
	-webkit-appearance: none;
	width: 300px;
	margin: 5.55px 0;
}

#id-time-bar:focus {
	outline: none;
}

#id-time-bar::-webkit-slider-runnable-track {
	width: 100%;
	height: 6.9px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: rgba(112, 97, 57, 0.81);
	border-radius: 3.9px;
	border: 1px solid #0e0101;
}

#id-time-bar::-webkit-slider-thumb {
	box-shadow: 3.9px 3.9px 3.6px #3b423a, 0px 0px 3.9px #475046;
	border: 1px solid rgba(97, 42, 53, 0.58);
	height: 18px;
	width: 16px;
	border-radius: 8px;
	background: rgba(149, 241, 140, 0.64);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6.55px;
}

#id-time-bar:focus::-webkit-slider-runnable-track {
	background: rgba(122, 106, 62, 0.81);
}

#id-time-bar::-moz-range-track {
	width: 100%;
	height: 6.9px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: rgba(112, 97, 57, 0.81);
	border-radius: 3.9px;
	border: 1px solid #0e0101;
}

#id-time-bar::-moz-range-thumb {
	box-shadow: 3.9px 3.9px 3.6px #3b423a, 0px 0px 3.9px #475046;
	border: 1px solid rgba(97, 42, 53, 0.58);
	height: 18px;
	width: 16px;
	border-radius: 8px;
	background: rgba(149, 241, 140, 0.64);
	cursor: pointer;
}

#id-time-bar::-ms-track {
	width: 100%;
	height: 6.9px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

#id-time-bar::-ms-fill-lower {
	background: rgba(102, 88, 52, 0.81);
	border: 1px solid #0e0101;
	border-radius: 7.8px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#id-time-bar::-ms-fill-upper {
	background: rgba(112, 97, 57, 0.81);
	border: 1px solid #0e0101;
	border-radius: 7.8px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#id-time-bar::-ms-thumb {
	box-shadow: 3.9px 3.9px 3.6px #3b423a, 0px 0px 3.9px #475046;
	border: 1px solid rgba(97, 42, 53, 0.58);
	height: 18px;
	width: 16px;
	border-radius: 8px;
	background: rgba(149, 241, 140, 0.64);
	cursor: pointer;
	height: 6.9px;
}

#id-volume-bar {
	width: 70px;
	position: absolute;
	right: 10px;
	bottom: 12px;
}

input[type=range]::-ms-fill-lower {
	/*进度条已填充的部分*/
	border-radius: 10px;
	background: linear-gradient(to right, #059CFA, white 100%, white);
}

/*#id-time-bar:focus::-ms-fill-lower {*/
/*background: rgba(112, 97, 57, 0.81);*/
/*}*/
#id-time-bar:focus::-ms-fill-upper {
	background: red;
}